* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: $color-brand;
}

html,
body {
  -webkit-appearance: none;
  background: $color-white;
  color: $color-dark;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html.docs,
body.docs {
  background: $color-white;
}

ul,
li {
  list-style: none;
}

a {
  color: inherit;
}

a.button {
  text-decoration: none;
}

video,
img {
  max-width: 100%;
}

.sm-hidden {
  @media screen and (max-width: 700px) {
    display: none;
  }
}

.no-overflow {
  overflow: hidden;
}

[data-emergence="hidden"] {
  opacity: 0;
}

[data-emergence="visible"] {
  animation: pop 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

@keyframes pop {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  50% {
    opacity: 1;
  }

  75% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
