$color-white: rgb(255, 255, 255);
$color-light-grey: rgb(248, 249, 250);
$color-grey: rgb(241, 243, 245);
$color-medium-light: rgb(210, 210, 210);
$color-medium-dark: rgb(134, 142, 150);
$color-dark: rgb(52, 58, 64);
$color-black: rgb(33, 37, 41);
$color-sinbad: #a4d6d0;
$color-merino: rgb(248, 238, 228);
$color-brand: rgb(32, 201, 151);
$color-brand-light: rgb(58, 219, 172);
$color-copy: rgb(110, 120, 130);
$color-copy-dark: rgb(63, 70, 77);
$color-error: rgb(243, 127, 127);
$color-blue: rgb(58, 208, 219);
