html,
body {
  font-family: "Avenir", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

a {
  font-weight: 500;
}

p {
  color: $color-copy;
}

.section--title {
  margin-bottom: 2rem;
}

.page-title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.page-subtitle {
  margin: 1rem auto 0;
  max-width: 500px;
}

h3 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.section--title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.12;
}

.section--sub p {
  margin-top: 1rem;
  max-width: 500px;
}

.section--sub.is-center {
  margin: 0;

  @media screen and (min-width: 700px) {
    margin: 0 auto;
  }
}

hr {
  border: none;
  border-top: 1px solid $color-grey;
  margin: 2rem 0;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  margin-top: 1rem;
  width: 100%;

  @media screen and (max-width: 48em) {
    display: block;
    overflow: scroll;
  }
}

table tr th,
table tr td {
  border-right: 1px solid color($color-grey b(+10%));
  border-bottom: 1px solid color($color-grey b(+10%));
  box-shadow: 2px 2px 1px $color-grey;
}

table tr th:first-child,
table tr td:first-child {
  border-left: 1px solid color($color-grey b(+10%));
}

table tr th {
  border-top: 1px solid color($color-grey b(+10%));
}

table tr:first-child th:first-child {
  border-top-left-radius: 6px;
}

table tr:first-child th:last-child {
  border-top-right-radius: 6px;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}

th,
td {
  padding: 8px 20px;
}

th {
  background: $color-white;
  color: $color-copy-dark;
}

tr:nth-child(even) td {
  background: $color-white;
}

tr:nth-child(odd) td {
  background: $color-light-grey;
}

/* Content styling */
.md-content {
  padding-bottom: 4rem;

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
    margin-top: 2rem;
  }

  h3 {
    font-size: 1rem;
    margin-top: 2rem;
  }

  h4,
  h5,
  h6 {
    margin-top: 1.5rem;
  }

  strong {
    font-weight: 600;
  }

  p {
    color: $color-copy-dark;
    margin: 1rem 0;
  }

  a {
    color: $color-brand;
    font-weight: 600;
    text-decoration: none;
    transition: color 0.25s ease;

    &:hover {
      color: color($color-brand b(+20%) s(-5%));
    }
  }

  ul {
    list-style-type: initial;
  }

  ol {
    list-style-type: decimal;
  }

  ul,
  ol {
    margin-left: 1rem;
  }

  li {
    list-style: inherit;
  }

  blockquote {
    font-style: italic;
    margin: 1rem 0;
    padding-left: 1rem;
    position: relative;
  }

  blockquote::before {
    background: $color-brand;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 2px;
  }

  img {
    max-width: 100%;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  img:hover:not(.no-lightbox) {
    opacity: 0.8;
    transform: translateY(-0.3rem);
    cursor: pointer;
  }

  p img {
    display: inline-block;
  }

  @media screen and (max-width: 1100px) {
    figure {
      max-width: 140% !important;
      margin-left: -20%;
    }
  }
}
