{{- define "main" -}}
<main class="about__wrapper">
    <section class="about-section about-section--centered">
        <div class="about__content about__content--text-centered">
            <h2 class="about__title">Mission</h2>
            <div class="about__text about__text--mission">
                <p>At Forestry.io, we believe the web is one of humanity’s greatest achievements. Our mission is to help people build a better web.</p>
            </div>
        </div>
    </section>
    <section class="about-section about-section--gray">
        <div class="about__image" style="background-image: url('/img/story-photo.jpg');"></div>
        <div class="about__content">
            <h2 class="about__title">Story</h2>
            <div class="about__text">
                <p>Our co-founders Scott (CEO) and Jordan (CTO) have been building websites and web tools for over a decade. In early 2016, we created Forestry.io to help us further our mission. Shortly after, we launched Forestry CMS, hired our first developer and joined Techstars NYC. Since then, we’ve grown our team to 15+ people and have created a product trusted by Fortune 500 companies.</p>
                <br>
                <p>In October of 2019, <a href="https://tinacms.org/blog/announcing-tinacms">we launched TinaCMS</a>, an open-source site editing toolkit, and are really excited to see how it impacts the future of content editing.</p>
                <p class="link-text">> <a href="/blog">Read more on our blog</a></p>
            </div>
        </div>
    </section>
    <section class="about-section about-section--white">
        <div class="about__content">
            <h2 class="about__title">Location</h2>
            <div class="about__text">
                <p>We’re founded and headquartered in the small town of Charlottetown, Prince Edward Island, Canada. The bulk of our team works out of our Charlottetown office, but nearly half our staff works remotely. </p>
                <p class="link-text">> <a href="https://www.google.com/maps/place/Prince+Edward+Island,+Canada/@46.6675804,-63.6757171,9z/data=!3m1!4b1!4m5!3m4!1s0x4b5e52ddd47f83c5:0xa968d6d5f4926686!8m2!3d46.510712!4d-63.4168136" target="__blank">Where exactly is Prince Edward Island?</a></p>
            </div>
        </div>
        <div class="about__image" style="background-image: url('/img/onsite-photo.jpg');"></div>
    </section>
    <section class="about-section about-section--gray">
            <div class="about__image" style="background-image: url('/img/team-photo.jpg');"></div>
        <div class="about__content">
            <h2 class="about__title">Team</h2>
            <div class="about__text">
                <p>We’re a group of passionate, dedicated and kind people who love working together to build great things for the web. We thrive on autonomy and collaboration, and enjoy utilizing the various perspectives of our team to solve hard problems.</p>
                <p class="link-text">> <a href="/careers">Want to join our team?</a></p>
            </div>
        </div>
    </section>
</main>
{{- end -}}
