.hero {
  align-items: center;
  background: $color-white;
  display: flex;
  flex-direction: column;
  min-height: 800px;
  overflow: hidden;
  padding-top: 5rem;
  position: relative;
  z-index: 1;

  @media screen and (min-width: 48em) {
    min-height: 100%;
  }

  .hero--text-block {
    padding: 9rem 0 0;
    text-align: left;

    @media screen and (min-width: 1000px) {
      padding: 80px 0 100px;
    }
  }

  .hero--title {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1;

    @media screen and (min-width: 520px) {
      font-size: 3rem;
    }
  }

  .hero--sub {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 2rem;
    max-width: 460px;
    opacity: 0.8;
  }

  .hero-cta {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 2.5rem;

    @media screen and (min-width: 520px) {
      margin-top: 3rem;
    }

    a:not(.button) {
      color: $color-medium-dark;
      cursor: pointer;
      font-style: italic;
      font-weight: 500;
      margin-left: 2rem;
      position: relative;
      transition: opacity 0.15s ease;

      &:hover {
        opacity: 0.5;
      }
    }

    .launch-demo {
      color: $color-medium-dark;
      cursor: pointer;
      display: none;
      font-style: italic;
      font-weight: 500;
      margin-left: 2rem;
      position: relative;

      @media screen and (min-width: 520px) {
        display: block;
      }
    }

    .launch-demo::before {
      background: #f0f0f0;
      content: "";
      height: 3.75rem;
      left: -1rem;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 1px;
    }
  }

  @media screen and (min-width: 1000px) {
    flex-direction: row;
  }
}

.hero--content {
  margin-top: -5rem;
  position: relative;
  width: 100%;
}

.factory-video {
  height: auto;
  left: 50%;
  max-width: none;
  pointer-events: none;
  position: absolute;
  right: auto;
  top: 90%;
  transform: translate(-50%, 0);
  width: 110%;
  z-index: -10;

  @media screen and (min-width: 600px) {
    left: 50%;
    top: 50%;
    width: 100%;
  }

  @media screen and (min-width: 820px) {
    left: 50%;
    top: 20%;
    width: 100%;
  }

  @media screen and (min-width: 1000px) {
    left: auto;
    right: -60px;
    top: 45%;
    transform: translate(0, -45%);
    width: 70%;
  }

  @media screen and (min-width: 1200px) {
    left: auto;
    right: 0;
    top: 45%;
    transform: translate(0, -45%);
    width: 70%;
  }
}

.built-for {
  bottom: 2rem;
  font-size: 0.65rem;
  font-weight: 600;
  left: 8vw;
  letter-spacing: 0.1em;
  opacity: 1;
  position: absolute;
  text-transform: uppercase;
}

.built-for--logos {
  align-items: center;
  display: flex;
  margin-top: 0.5rem;
}

.built-for--logo {
  margin-right: 1rem;
}
