.section-trusted {
  background: $color-light-grey;
  padding: 4rem 0;

  .trusted--row-1 {
    align-items: baseline;
    display: none;

    h3 {
      flex: 0 0 25%;

      @media screen and (min-width: 800px) {
        flex: 0 0 40%;
      }
    }

    span {
      font-size: 16px;
      font-style: italic;
      margin-right: 2rem;
      max-width: 400px;
      opacity: 0.8;
    }

    .text-button {
      align-self: baseline;
      margin-left: auto;
      white-space: nowrap;
    }

    @media screen and (min-width: 700px) {
      display: flex;
    }
  }

  .trusted--row-2 {
    align-items: center;
    display: flex;
    justify-content: space-between;
    pointer-events: none;
    user-select: none;

    .trusted--logo {
      height: 40px;

      &.smaller {
        height: 40px;
      }
    }

    @media screen and (min-width: 700px) {
      margin-top: 60px;
    }
  }
}
