<div class="plan">
  <div class="plan--include-top">
    <span class="plan--title">{{ .title }}</span>
    <div class="plan--cost">
      <div class="plan--amount">
        <span class="currency">$</span>
        <span class="price">{{ .priceMonthly }}</span>
      </div>
      <span class="price-note">
        Per user / month
      </span>
      <p class="plan--description plan--description__mobile">{{ .description }}</p>
    </div>
  </div>
  <a href="{{ .buttonUrl | absURL }}" class="plan--cta button primary small">{{ .buttonText }}</a>
  <p class="plan--description"></p>
  <div class="plan--includes">
    <div class="plan--item__includes">
      {{ .planIncludes }}
    </div>
    <ul>
      {{- range .planItems -}}
        <li class="plan--item">
          <div class="checkmark"></div>
          {{ .text }}
          {{ with .info }}
            <div class="plan--item__info">
              <span class="plan--item__tooltip-toggle"></span>
              <span class="plan--item__tooltip">{{ . }}</span>
            </div>
          {{ end }}
        </li>
      {{ end }}
    </ul>
  </div>
</div>
