<div class="plan">
  <div class="plan--include-top">
    <span class="plan--title">{{ .title }}</span>
    <div class="plan--cost">
      <div class="plan--amount">
        <span class="currency">$</span>
        <span class="price">{{ .priceMonthly }}</span>
      </div>
      <span class="price-note">
        Per site/month
      </span>
    </div>
  </div>
  <a href="{{ .buttonUrl | absURL }}" class="plan--cta button primary small">{{ .buttonText }}</a>
  <p class="plan--description">{{ .description }}</p>
  <div class="plan--includes">
    <ul>
      {{- range .planItems -}}
        <li class="plan--item">
          <div class="checkmark"></div>
          {{ .text }}
        </li>
      {{ end }}
    </ul>
  </div>
</div>