{{- define "main" -}}
  <main class="contact-wrapper">
    <div class="container">
      <section class="contact-header">
        <div class="contact-header--sticky">
          <h2>Get in touch</h2>
          <form action="https://formspree.io/i9oymrzt@inbound.intercom-mail.com" method="POST" class="form--large form--stacked" data-message="Thanks for reaching out! We will be in touch with you soon.">
            <select name="topic" required>
                <option disabled selected>Select a Topic</option>
                <option class="option" name="topic" value="Billing issue">Billing issue</option>
                <option class="option" name="topic" value="Pricing">Pricing</option>
                <option class="option" name="topic" value="Feature">Feature</option>
                <option class="option" name="topic" value="Billing issue">Bug report</option>
                <option class="option" name="topic" value="Enterprise/Reseller">Enterprise</option>
                <option class="option" name="topic" value="Other">Other</option>
              </select>
            <input type="text" name="name" placeholder="Name" required>
            <input type="email" name="_replyto" placeholder="Email" required>
            <input type="text" name="subject" placeholder="Subject" required>
            <textarea rows="6" tabindex="4" name="message" required></textarea>
            <button type="submit" name="submit" class="button primary">Send request</button>
          </form>
        </div>
      </section>
      <section class="section section-contact md-content">
        <h1>{{ .Params.headline | default .Title }}</h1>
          {{- if .Content -}}
            {{ .Content }}
          {{- else -}}
            {{ markdownify .Params.textline }}
          {{- end -}}
      </section>
    </div>
  </main>
{{- end -}}