.highlight {
  margin-bottom: 1.2em;
}

.highlight > pre {
  border-radius: 4px;
  overflow-x: auto;
  padding: 10px;
}

/* Inline code */
p > code,
td > code {
  background: $color-light-grey;
  color: $color-brand;
  font-family: "Roboto Mono", monospace;
  font-size: 0.75rem;
  font-weight: 500;
  padding: 0.15em 0.5em;
}

pre > code {
  font-family: "Roboto Mono", monospace;
}
