.attribute-list dt {
  font-style: italic;
}

.attribute-list dt code {
  font-style: normal;
}

@media (max-width: 767px) {
  .attribute-list dd {
    margin-left: 2.4em;
  }
}

@media (min-width: 768px) {
  .attribute-list {
    display: grid;
    grid-template-columns: minmax(0, 50%) auto;
    margin-bottom: 1.2em;
  }
}
