.form--joined {
  display: flex;
  flex-wrap: nowrap;

  * {
    border-radius: 0;
  }

  *:first-child {
    border-radius: 1.5rem 0 0 1.5rem;
  }

  *:last-child,
  *:last-child {
    border-radius: 0 1.5em 1.5em 0;
  }
}

.form--stacked {
  input,
  button,
  .button,
  select,
  textarea {
    display: block;
    margin-top: 1rem;
    width: 100%;

    @media screen and (min-width: 48em) {
      width: 80%;
    }
  }
}

.form--large {
  input,
  select,
  textarea {
    font-size: 1rem;
    padding: 1.25rem;
  }
}

.form--center {
  justify-content: center;
  margin: 0 auto;
}

.form--submitting {
  opacity: 0.5;
  position: relative;
}
.form--submitting:after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 5px solid $color-brand;
  border-right-color: transparent;
  animation: rotateCW 0.5s linear infinite;
  position: absolute;
  top: calc(40% - 15px);
  left: calc(40% - 15px);
}
.form--submit-fail:before {
  content: attr(data-error);
  display: block;
  margin: 5px 0;
  color: $color-error;
}
.form--submit-success * {
  display: none !important;
}
.form--submit-success:before {
  display: block !important;
  content: attr(data-message);
  margin: 10px 0;
  color: $color-brand;
  font-size: 1.4em;
}
