.shortcode-tip,
.shortcode-warning,
.shortcode-error,
.shortcode-disclaimer {
  background: $color-grey;
  margin: 1rem 0;
  padding: 1rem 1rem 1rem 2rem;
  position: relative;

  h3,
  h4 {
    margin-top: 0;
  }

  p {
    margin: 0 0 2rem !important;
    padding: 0 !important;
  }

  p:first-of-type {
    margin: 0 !important;
  }

  & p:last-of-type {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }

  /* Fix for Hugo <p> tag bug */
  p:empty + & {
    margin-top: -2rem;
  }
  & + p:empty {
    margin-bottom: -2rem;
  }

  /* Fix for heading spacer */
  + h1,
  + h2,
  + h3,
  + h4,
  + h5,
  + h6 {
    padding-top: 1rem;
  }

  &:before {
    /* Set the circle size here */
    $circle-size: 1.5rem;

    background: $color-brand;
    border-radius: calc($circle-size / 2);
    color: $color-white;
    content: "ℹ︎";
    font-weight: 600;
    height: $circle-size;
    left: -calc($circle-size / 2);
    line-height: $circle-size;
    position: absolute;
    text-align: center;
    top: 1rem;
    width: $circle-size;
    z-index: 5;
  }

  &:after {
    background: $color-brand;
    content: "";
    height: 100%;
    left: -0.1rem;
    position: absolute;
    top: 0;
    width: 0.2rem;
    z-index: 0;
  }
}

.shortcode-warning {
  &:before {
    background: color($color-merino saturation(+ 50%) w(- 50%));
    content: "!";
  }

  &:after {
    background: color($color-merino saturation(+ 50%) w(- 50%));
  }
}

.shortcode-error {
  &:before {
    background: $color-error;
    content: "!";
  }

  &:after {
    background: $color-error;
  }
}

.shortcode-disclaimer {
  &:before {
    background: $color-sinbad;
    content: "?";
  }

  &:after {
    background: $color-sinbad;
  }
}

.post-media {
  width: 100% !important;
  margin-left: auto !important;
  padding: 1.2em;
  background: rgba(0, 0, 0, 0.1);
  text-align: center;
  img {
    max-width: 100%;
    margin-bottom: 0.5em;
  }
  figcaption {
    font-size: 0.8em;
    opacity: 0.8;
    font-style: italic;
  }
}

.youtube-embed--wrapper {
  width: 100%;
  height: 0px;
  padding-bottom: 56.25%; /* 16:9 */
  position: relative;
  > .youtube-embed {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.md-content figure {
  width: 100%;
  text-align: center;
  img {
    max-width: 100%;
  }
  figcaption {
    font-size: 0.8em;
    p {
      margin-top: 0;
    }
  }
}

.md-content .obnoxious {
  font-size: 1.4rem;
  line-height: 1.2;

  img {
    display: block;
    margin: 0 auto;
  }

  h1,
  h2,
  h3 {
    text-align: center;
    font-size: 2rem !important;
    background: $color-brand;
    color: #fff;
    padding: 2em;
    margin: 0;
    a > svg {
      display: none;
    }
  }
}
