.slide-in-cta {
  background-color: #ffffff;
  position: fixed;
  width: 380px;
  right: -1px;
  bottom: 100px;
  border-left-style: solid;
  border-left-width: 4px;
  border-left-color: rgb(32, 201, 151);
  max-width: 100%;
  padding: 1rem 2rem 1.8rem 2rem;
  z-index: 100;
  transform: translateX(100%);
  transition-duration: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.2) 11px 10px 40px;

  @media screen and (max-width: 400px) {
    .form--joined {
      flex-direction: column;
    }
    .form--joined > *:first-child {
      display: block;
      border-radius: 0.3rem;
      width: 100%;
      margin-bottom: 1.5rem;
    }
    .form--joined > *:last-child {
      display: block;
      border-radius: 0.3rem;
      align-self: flex-start;
    }
  }
}

.slide-in-cta--title {
  margin: 0 0 1rem 0;
}

.slide-in-cta--close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 0.7rem;
  height: 0.7rem;
  cursor: pointer;
}
