{{- with .Paginator -}}
  {{- $paginator := . -}}
  {{ if gt .TotalPages 1 }}
  <nav class="pagination" role="pagination">
      {{ if and .First .HasPrev }}
        <a href="{{ .First.URL }}" class="pagination--first" aria-label="First"><span aria-hidden="true">&laquo;</span></a>
      {{ end }}
      
      {{ if .HasPrev }}
      <a href="{{ .Prev.URL }}" class="pagination--prev" rel="prev" aria-label="Previous"><span aria-hidden="true">Previous</span></a>
      {{ end }}
      
      {{ $.Scratch.Set "__paginator.ellipsed" false }}
      {{- range .Pagers -}}
      {{ $remaining := sub .TotalPages .PageNumber }}
      {{ $left := gt .PageNumber (sub $paginator.PageNumber 2) }}
      {{ $right := lt .PageNumber (add $paginator.PageNumber 2) }}
      {{ $showNumber := and $left $right }}
        {{- if $showNumber -}}
          {{- $.Scratch.Set "__paginator.ellipsed" false -}}
          {{- $.Scratch.Set "__paginator.shouldEllipse" false -}}
        {{- else -}}
          {{- $.Scratch.Set "__paginator.shouldEllipse" (not ($.Scratch.Get "__paginator.ellipsed")) -}}
          {{- $.Scratch.Set "__paginator.ellipsed" true -}}
        {{- end -}}
        {{ if $showNumber }}
          <a href="{{ .URL }}" class="pagination--item {{ if eq . $paginator }} active{{ end }}">{{ .PageNumber }}</a>
        {{ else if ($.Scratch.Get "__paginator.shouldEllipse") }}
          <span class="pagination--ellipses" aria-hidden="true">&hellip;</span>
        {{ end }}
      {{ end }}

      {{ if .HasNext }}
      <a href="{{ .Next.URL }}" class="pagination--next" rel="next" aria-label="Next"><span aria-hidden="true">Next</span></a>
      {{ end }}

      {{- if and .Last .HasNext -}}
        <a href="{{ .Last.URL }}" class="pagination--last" aria-label="Last"><span aria-hidden="true">&raquo;</span></a>
      {{- end -}}
  </nav>
  {{- end -}}
{{- end -}}