<div id="slide-in-cta" class="slide-in-cta container">
  <img class="slide-in-cta--close toggle-close" src="/img/navtoggle-close.svg" onClick="closeSlideIn()" alt="Close nav">
  <h2 class="slide-in-cta--title" style="margin-bottom: initial;">{{ .headline | default "Want to hear it first?" }}</h2>
  <p class="slide-in-cta--text">{{ .textline | default "Subscribe to our newsletter to get the posts directly in your inbox." }}</p>
  <br>
    {{- with .ctas -}}
      {{- range . -}}
      <a href="{{ .RelPermalink }}"{{ if .button }} class="button primary big"{{ end }}>{{ .textline }}</a>
      {{- end -}}
    {{- else -}}
    <form action="https://www.getrevue.co/profile/forestryio/add_subscriber" method="post" name="revue-form" target="_blank">
      <div class="newsletter-signup--field form--joined">
        <input class="revue-form-field" placeholder="your.name@example.com" type="email" name="member[email]">
        <button type="submit" value="Subscribe" name="member[subscribe]" class="button primary small">Subscribe</button>
      </div>
    </form>
    {{- end -}}
</div>

<script type="text/javascript">
  // Boolean Switch to check whether Slide-In CTA has been seen by User - Prevent multiple pop-ups
  var slideInSeen = false
  var scrollTimer, lastScrollFireTime = 0;

  window.onscroll = function() {
    if (slideInSeen == false) {
      // Function to throttle onscroll event by setting a min time that needs to pass before next check
      var minScrollTime = 1000;
      var now = new Date().getTime();

      function checkSlideIn() {
        // Function to check whether user has scrolled into the article enough to possibly convert
        let d = document.documentElement;
        let offset = window.pageYOffset + window.innerHeight;
        let height = document.getElementById("post-container").scrollHeight * 0.5; // Slide-In fires at half height of article

        if (offset >= height && slideInSeen == false) {
          // Pulls Slide-In into the user's view
          document.getElementById("slide-in-cta").style.transform = "translateX(0)";
          slideInSeen = true;
        }
      }

      if (!scrollTimer) {
        // Evaluate whether enough time has passed since the last check
          if (now - lastScrollFireTime > (3 * minScrollTime)) {
              checkSlideIn();   // fire immediately on first scroll
              lastScrollFireTime = now;
          }
          scrollTimer = setTimeout(function() {
              scrollTimer = null;
              lastScrollFireTime = new Date().getTime();
              checkSlideIn();
          }, minScrollTime);
      }
    }
  };

  function closeSlideIn() {
    document.getElementById("slide-in-cta").style.transform = "translateX(100%)";
  };
</script> 
