{{- define "main" -}}
  <main class="blog-list-wrapper">
    <div class="container">
      <section class="blog-header">
        <div class="blog-header--sticky">
          <h1 class="blog-header--title">{{ .Params.headline | default .Title }}</h1>
          <p class="blog-header--description">
            {{- if .Summary -}}
              {{ .Summary }}
            {{- else -}}
              {{ .Params.textline }}
            {{- end -}}
          </p>
          {{- if not .Params.hideSignup -}}
          <form action="https://www.getrevue.co/profile/forestryio/add_subscriber" method="post" id="revue-form" name="revue-form" target="_blank" class="newsletter-signup">
            <h3 class="newsletter-signup--title">Want to hear it first?</h3>
            <p class="newsletter-signup--text">
              Subscribe to our newsletter to get the posts directly in your inbox as they get posted.
            </p>
            <div class="newsletter-signup--field form--joined form--large">
              <input class="revue-form-field" placeholder="your.name@example.com" type="email" name="member[email]" id="member_email">
              <button type="submit" value="Subscribe" name="member[subscribe]" id="member_submit" class="button primary small">Subscribe</button>
            </div>
          </form>
          {{- end -}}
        </div>
      </section>
      <section class="section section-blog-list">
        {{- range where .Paginator.Pages "Params.featured" "eq" true -}}
          {{ .Render "summary" }}
        {{- end -}}
        {{- range where .Paginator.Pages "Params.featured" "ne" true -}}
          {{ .Render "summary" }}
        {{- end -}}
        {{- partial "components/pagination/paginator" . -}}
      </section>
    </div>
  </main>

  {{- partial "components/cta/basic" .Params.cta -}}
{{- end -}}
