{{- define "main" -}}
  <main class="single-post">
    {{- with .Params.images -}}
      {{- range first 1 . -}}
        <div class="post--feature-image">
          <img src="{{ . | relURL }}" alt="{{ $.Params.headline | default $.Title }}">
        </div>
      {{- end -}}
    {{- end -}}
    <div class="container">
      <h1 class="post--title">{{ .Params.headline | default .Title }}</h1>
      <div class="post--meta">
        {{- with .Params.authors -}}
        <div class="author">
          <span class="post--meta-label">Written by</span>
          {{- range . -}}
            {{- $authorName := . -}}
            {{- range $.Site.Data.authors.authors -}}
              {{- if eq (urlize .fullName) (urlize $authorName) -}}
              <a href="{{ "/authors/" | relURL }}{{ .fullName | urlize }}" class="author--wrapper">
                <div class="author--avatar">
                  <img src="{{ .avatar }}" alt="{{ .fullName | default .avatar }}">
                </div>
                <div class="author--info">
                  <span class="author--name">{{ .fullName }}</span>
                  <span class="author--title">{{ .title }}</span>
                </div>
              </a>
              {{- end -}}
            {{- end -}}
          {{- end -}}
        </div>
        {{- end -}}
        <div class="post--info">
          <span class="post--meta-label">Posted on</span>
          <span class="post--date">
            {{- with .GitInfo -}}
              <a href="{{$.Site.Params.ghrepo}}/commit/{{ .Hash }}" target="_blank">
            {{- end -}}
            {{ .Date.UTC.Format $.Site.Params.dateformat }}
            {{- with .GitInfo -}}
              </a>
            {{- end -}}
          </span>
          {{- with .Params.categories -}}
          <span>in {{ range . }}<a href="{{/* todo permalink  */}}" class="post--category" data-category="{{ . }}">{{ . }}</a>{{- end -}}</span>
          {{- end -}}
        </div>
      </div>

      {{- partial "cloudinary/content" (dict "page" $ "srcset" true) -}}

      <hr />

      {{- if not .Params.hideAbout -}}
      <div class="post--about">
        {{- range $.Site.Data.authors.authors -}}{{- if eq "forestry.io" (lower .fullName) -}}
        <h2>About {{ .fullName }}</h2>
        {{ markdownify .bio }}
        {{- end -}}{{- end -}}
      </div>
      {{- end -}}
      {{- partial "components/social-sharing" . -}}
      {{- if not .Params.hideFeedback -}}
      <div class="post--feedback">
        <p><small>Caught a mistake or want to contribute to the {{ .Section | humanize | lower }}? Edit this page on <a href="{{.Site.Params.ghrepo_edit}}{{.File.Path}}" target="_blank">Github</a>!</small></p>
      </div>
      {{- end -}}

      {{ $related := $.Site.RegularPages.Related . | first 5 }}
      {{ with $related }}
      {{- if or (not $.Params.hideAbout) (not $.Params.hideFeedback) -}}
      <hr />
      {{- end -}}
      <aside class="post--related">
        <h2 class="post--related-title">Other Articles You Might Like</h2>
        {{- range . -}}
          {{ .Render "summary" }}
        {{- end -}}
      </aside>
      {{- end -}}

    </div>
  </main>

  {{- partial "components/cta/newsletter" .Params.cta -}}
{{- end -}}