{{- define "main" -}}
  <main class="blog-list-wrapper">
    <div class="container">
      <section class="blog-header">
        <div class="blog-header--sticky">
        {{- if or (gt (len .Summary) 0) (isset .Params "textline") -}}
          <h1 class="blog-header--title">{{ .Params.headline | default .Title }}</h1>
          <div class="blog-header--description">
            {{- if .Summary -}}
              {{ .Summary | markdownify }}
            {{- else -}}
              {{ .Params.textline | markdownify }}
            {{- end -}}
          </div>
        {{- end -}}
        </div>
      </section>
      <section class="section section-blog-list">
        {{- range .Paginator.Pages -}}
          {{ .Render "summary" }}
        {{- end -}}
        {{- partial "components/pagination/paginator" . -}}
      </section>
    </div>
  </main>

  {{- partial "components/cta/basic" .Params.cta -}}
{{- end -}}