{{- define "main" -}}
  <main class="single-post">
    {{- with .Params.images -}}
      {{- range first 1 . -}}
        <div class="post--feature-image">
            {{ partial "cloudinary/image" (dict "pg" $ "image" . "alt" ($.Params.headline | default $.Title) "width" "auto:100:760" "dpr" "auto" "quality" "70") }}
        </div>
      {{- end -}}
    {{- end -}}
    <div class="container">
      <h1 class="post--title">{{ .Params.headline | default .Title }}</h1>
      <div class="post--meta">
        <div class="post--info">
          <span class="post--meta-label">Last updated</span>
          <span class="post--date">{{ .Lastmod.UTC.Format .Site.Params.dateFormat }}</span>
        </div>
      </div>
      <div class="md-content">
          {{ partial "cloudinary/content" (dict "pg" $  "preset" "content") }}
      </div>
    </div>
  </main>

  {{- partial "components/cta/basic" .Params.cta -}}
{{- end -}}