<article class="blog-post">
  <div class="post-meta">
    <span class="post-date">{{ .Date.UTC.Format .Site.Params.dateFormat }}</span>
    <span class="post-category" data-category="{{ .Section }}">{{ .Section }}</span>
  </div>
  <a href="{{ .RelPermalink | relURL }}"><h2 class="post-title">{{ .Params.headline | default .Title }}</h2></a>
  <p class="post-excerpt">
    {{- if .Summary -}}
      {{ plainify (htmlUnescape (markdownify .Summary)) }}
    {{ else  }}
      {{ .Content | safeHTML | truncate 140 }}
    {{- end -}}
  </p>
</article>