{{- define "main" -}}
  <main class="single-showcase">
    <div class="container">
      <h1 class="page-title center">{{ .Params.headline | default .Title }}</h1>
      <p class="page-subtitle center">{{ .Params.textline }}</p>
      <div class="showcase-items">
      {{- range where .Data.Pages "Params.featured" "eq" true -}}
        {{- .Render "summary" -}}
      {{- end -}}
      </div>
      <div class="showcase-items">
      {{- $len := len (where .Data.Pages "Params.featured" "eq" false) -}}
      {{- range $key, $value := where .Data.Pages "Params.featured" "eq" false -}}
        {{- if and (eq $key 5) (gt $len 10) -}}
          {{- partial "components/cta/basic" .Params.cta -}}
        {{- end -}}
        {{- .Render "summary" -}}
      {{- end -}}
      </div>
      <hr />
      <small>Want to see your site here? Submit a request on <a href="{{ $.Site.Params.ghrepo_new }}" title="Submit a new site" target="_blank">GitHub</a>!</small>
    </div>
  </main>

  {{- partial "components/cta/basic" .Params.cta -}}
{{- end -}}