{{- define "main" -}}
    <main class="starter-list-wrapper">
        <div class="container starters-container">
          <section class="starters-header">
            <h2 class="starters-title">{{ .Params.headline }}</h2>
          </section>
          <section class="starter-grid">
            {{- $starters := $.Site.Data.starters.starters -}}
            {{ range $starters }}
              {{ partial "components/starter-card.html" . }}
            {{ end }}
          </section>
        </div>
    </main>
{{- end -}}