<script type="text/javascript">
    window.addSite = {
        engine: { name: "{{ .Get "engineName" }}", version: "{{ .Get "engineVersion" }}" },
        source: {
            repo: "{{ .Get "repo" }}",
            branch: "{{ .Get "branch" }}",
        },
        repoName: "{{ .Get "forkName" }}",
    }
</script>
<script src="{{ "/js/load-add-site-flow.min.js" | relURL }}?{{ readFile "static/js/load-add-site-flow.min.js" | md5 }}" type="text/javascript"></script>
<!-- <script type="text/javascript" src="http://localhost:3002/static/js/bundle.js"></script> -->
<div class="create-site-block">
    <h2>{{ .Get "heading" }}</h2>
    <a href="#/add-site" class="create-site-button" data-proofer-ignore>{{ .Get "linkText" }}</a>
</div>
