{{- if and .pg (isset . "image") -}}
  {{- $page := .pg -}}
  {{- $lazySizes := $page.Site.Params.cloudinary.lazysizes.enabled -}}
  {{- $presetName := .preset | default "default" -}}
  {{- $presets := $page.Site.Params.cloudinary.presets | default (dict) -}}
  {{- $preset := cond (not (eq $presets "")) (index $presets $presetName) "" -}}
  {{- $page.Scratch.SetInMap "url" "image" .image -}}
  {{/* Add presets params to the map */}}
  {{- range $key, $value := $preset.params -}}
    {{- $page.Scratch.SetInMap "url" $key $value -}}
  {{- end -}}
  {{/* Add passed in params to map, overwriting preset */}}
  {{- range $key, $value := . -}}
    {{- $page.Scratch.SetInMap "url" $key $value -}}
  {{- end -}}
  {{- $src := partial "cloudinary/url.html" ($page.Scratch.Get "url") -}}
  {{- template "img" (dict "pg" $page "src" $src "alt" .alt "title" .title "lazysizes" $lazySizes) }}
{{- end -}}
{{- define "img" -}}
  {{/* placeholder image for lazyloaded images */}}
  {{- $placeholder := .pg.Site.Params.cloudinary.lazysizes.placeholder | default "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" -}}
  <img{{ if $.lazysizes }} src="{{ $placeholder | safeURL }}"{{ end }}{{ if $.lazysizes }} data-src{{ else }} src{{ end }}="{{ .src | safeURL }}" alt="{{ with .alt }}{{ . }}{{ else }}{{ .src }}{{ end }}"{{ with .title }} title="{{ . }}"{{- end -}}{{ if $.lazysizes }} class="lazyload"{{ end }} />
{{- end -}}