{{- if and (isset . "page") (isset . "image") -}}
  {{- $page := .page -}}
  {{- $lazySizes := $page.Site.Params.cloudinary.lazysizes.enabled -}}
  {{- $presetName := .preset | default "default" -}}
  {{- $presets := $page.Site.Params.cloudinary.presets | default (dict) -}}
  {{- $preset := cond (not (eq $presets "")) (index $presets $presetName) "" -}}
  {{- $page.Scratch.SetInMap "url" "page" $page -}}
  {{- $page.Scratch.SetInMap "url" "image" .image -}}
  {{- $page.Scratch.SetInMap "url" "width" ($preset.fallback_width | default "800") -}}
  {{/* Add presets params to the map */}}
  {{- range $key, $value := $preset.params -}}
    {{- $page.Scratch.SetInMap "url" $key $value -}}
  {{- end -}}
  {{/* Add passed in params to map, overwriting preset */}}
  {{- range $key, $value := . -}}
    {{- $page.Scratch.SetInMap "url" $key $value -}}
  {{- end -}}
  {{- $src := partial "cloudinary/url.html" ($page.Scratch.Get "url") -}}
  {{- template "img" (dict "page" $page "src" $src "alt" .alt "title" .title "lazysizes" $lazySizes) }}
{{- end -}}
{{- define "img" -}}
  {{/* placeholder image for lazyloaded images */}}
  {{- $placeholder := .page.Site.Params.cloudinary.lazysizes.placeholder | default "data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 200 150'%2F%3E" -}}
  <p>
    <img{{ if $.lazysizes }} src="{{ $placeholder | safeURL }}"{{ end }}{{ if $.lazysizes }} data-src{{ else }} src{{ end }}="{{ .src }}" alt="{{ with .alt }}{{ . }}{{ else }}{{ .src }}{{ end }}"{{ with .title }} title="{{ . }}"{{- end -}}{{ if $.lazysizes }} class="lazyload"{{ end }} />
  </p>
{{- end -}}