{{/* Renders feature blocks. E.g, homepage */}}
{{- with .feature -}}
  {{- if .headline -}}
  {{- if or (.textline) (eq .direction "tab") -}}
  <section id="{{- .headline | urlize -}}" class="section{{ with .class }} {{ . }}{{- end -}}{{ if or (eq .direction "vertical") (eq .direction "tab") }} center{{ end }}">
    <div class="container">
      <div class="feature-block {{ .direction | default "ltr" }}">
        {{- if eq .direction "rtl" -}}{{- with .visual -}}
        <div class="feature-block--illu illu-shadow--left">
          {{- partial "cloudinary/image" (dict "pg" $.pg "preset" "feature" "image" .permalink "alt" (.alt | default .permalink)) }}
        </div>
        {{- end -}}{{- end -}}
        <div class="feature-block--copy">
          <h2 class="section--title" style='{{- if eq .direction "tab" -}}max-width:460px;{{- end -}}'>{{ markdownify .headline }}</h2>
          <div class="section--sub{{ if or (eq .direction "vertical") (eq .direction "tab") }} is-center{{ end }}">
            {{ markdownify .textline }}
          </div>
        </div>        
        {{- if eq .direction "tab" -}}
        {{- with .tabs -}}
        <div class="feature-block--container">
          <div class="feature-block--content">
        <div class="feature-block--nav-row" style="">
        {{- range $index, $value := . -}}
            <div id="{{ .headline | urlize }}-nav" onclick="switchTab({{ .headline | urlize }})" class="feature-block--nav {{ if eq $index 0 }}active{{ end }}">
              <h4>{{ .headline }}</h4>
            </div>
        {{- end -}}
        </div>
        {{- range $index, $value := . -}}
            <div id="{{ .headline | urlize }}-content" class="feature-block--tab-content {{ if eq $index 0 }}active{{ end }}" style="max-width: 660px;margin: auto;">
              <p>{{ markdownify .textline }}</p>
              <div class="feature-block--data-features">
                {{- if .features -}}
                {{- range .features -}}
                <div>
                  <p>{{.name}}</p>
                </div>
                {{- end -}}
                {{- end -}}
              </div>
            </div>
        {{- end -}}
      </div>
        <div class="feature-block--data" style="width: 100%;">
        {{- range $index, $value := . -}}
            <div id="{{ .headline | urlize }}-img" class="feature-block--tab-data {{ if eq $index 0 }}active{{ end }}">
              <div class="feature-block--illu illu-shadow--left">
                {{- if .visual -}}
                {{- with .visual -}}
                  {{- partial "cloudinary/image" (dict "pg" $.pg "preset" "feature" "image" .permalink "alt" (.alt | default .permalink)) }}
                {{- end -}}
                {{- else if .video -}}
                {{- with .video -}}
                <video playsinline autoplay muted loop poster="{{ .fallbackVisual }}" class="desktop-only">
                    {{- range .sources -}}
                    <source src="{{ .permalink }}" type="{{ .type }}">
                    {{- end -}}
                </video>
                <div class="mobile-only">
                  {{- partial "cloudinary/image" (dict "pg" $.pg "preset" "feature" "image" .permalink "alt" (.alt | default .permalink)) }}
                </div>
                {{- end -}}
                {{- end -}}
              </div>
            </div>
        {{- end -}}  
        </div>
        </div>{{- end -}} 
        <script>

        function switchTab(tab) {
          const navName = tab + "-nav"
          const contentName = tab + "-content"
          const imgName = tab + "-img"
          const allElements = document.getElementsByClassName("feature-block--tab-data")
          for (let i=0; i < allElements.length; i++) {
            if (allElements[i].classList.contains("active")) {
              allElements[i].classList.remove("active");
            }
          }
          const allContentElements = document.getElementsByClassName("feature-block--tab-content")
          for (let i=0; i < allContentElements.length; i++) {
            if (allContentElements[i].classList.contains("active")) {
              allContentElements[i].classList.remove("active");
            }
          }
          const allNavElements = document.getElementsByClassName("feature-block--nav")
          for (let i=0; i < allNavElements.length; i++) {
            if (allNavElements[i].classList.contains("active")) {
              allNavElements[i].classList.remove("active");
            }
          }
          const navElement = document.getElementById(navName)
          const contentElement = document.getElementById(contentName)
          const imgElement = document.getElementById(imgName)
          imgElement.classList.add("active")
          contentElement.classList.add("active")
          navElement.classList.add("active")
        }
        </script>{{- end -}}
        {{- if eq .direction "ltr" -}}{{- with .visual -}}
        <div class="feature-block--illu illu-shadow--right">
          {{- partial "cloudinary/image" (dict "pg" $.pg "preset" "feature" "image" .permalink "alt" (.alt | default .permalink)) }}
        </div>
        {{- end -}}{{- end -}}
        {{- if eq .direction "vertical" -}}{{- with .visual -}}
        <div class="feature-block--illu illu-shadow--right">
          {{- partial "cloudinary/image" (dict "pg" $.pg "image" .permalink "alt" (.alt | default .permalink) "min_width" "320" "max_width" "4230" "steps" "15" "sizes" "100vw") }}
        </div>
        {{- end -}}{{- end -}}
      </div>
    </div>
    {{- if eq .class "section-deploy" -}}
      <div class="hosting-logos">
        <div class="container">
          <div class="hosting-logo">
            {{- partial "svg" (dict "id" "logos--aws" "height" "30") -}}
          </div>
          <div class="hosting-logo">
            {{- partial "svg" (dict "id" "logos--github-pages" "height" "24") -}}
          </div>
          <div class="hosting-logo">
            {{- partial "svg" (dict "id" "logos--netlify" "height" "34") -}}
          </div>
          <div class="hosting-logo">
            {{- partial "svg" (dict "id" "logos--ftp" "height" "18") -}}
          </div>
        </div>
        <div class="deploying-animation"></div>
      </div>
      {{- end -}}
  </section>
  {{- end -}}
  {{- end -}}
{{- end -}}