{{- if and .headline .textline -}}
<section class="hero">
  <div class="hero--content">

    <div class="container">
      <div class="hero--text-block">
        <h1 class="hero--title">{{ markdownify .headline }}</h1>
        <div class="hero--sub">{{ markdownify .textline }}</div>
        <div class="hero-cta">
        {{- range .ctas -}}
          <a href="{{ .permalink }}"{{ if .button }} class="button primary big"{{ end }} data-proofer-ignore>{{ .textline }}</a>
        {{- end -}}
        </div>
      </div>
    </div>

    {{- if .visual -}}
      {{/* TODO: hero visual */}}
    {{- else if .video -}}{{- with .video -}}
    <video playsinline autoplay muted loop poster="{{ .fallbackVisual }}" class="factory-video desktop-only {{ .class }}">
        {{- range .sources -}}
        <source src="{{ .permalink }}" type="{{ .type }}">
        {{- end -}}
    </video>
    <video playsinline autoplay muted loop poster="{{ .fallbackVisual }}" class="factory-video mobile-only {{ .class }}">
        {{- range .mobile -}}
        <source src="{{ .permalink }}" type="{{ .type }}">
        {{- end -}}
    </video>
    {{- end -}}{{- end -}}

  </div>
  
  {{- with .logos -}}
  <div class="built-for">
    <span>{{ .textline }}</span>
    <div class="built-for--logos">
      {{- range .sources -}}
      <img src="{{ .permalink }}" class="built-for--logo" width="auto" height="24" alt="{{ .alt | default .permalink }}" />
      {{- end -}}
    </div>
  </div>
  {{- end -}}
  
</section>
{{- end -}}