{{- $isHome := .IsHome -}}
{{- $isDocs := (eq .Section "docs") -}}
{{- $isBlog := (eq .Section "blog") -}}
{{- $isPricing := (eq .Section "pricing") -}}
<header class="header container{{ if $isDocs }} docs{{ end }}{{ if $isPricing }} dark{{ end }}">
  <div class="left-block">
    <a href="{{ .Site.BaseURL | relURL }}" title="Go to homepage" class="logo"></a>
  </div>
  <div class="right-block">
    {{- if or $isDocs $isBlog -}}
    <div class="search">
      <input type="search" name="search" placeholder="Search the {{ .Section }}..." class="search--input">
    </div>
    {{- end -}}
    <nav class="nav">
      <div class="nav-content">
        <a href="{{ .Site.BaseURL | relURL }}" class="mini-nav--logo"></a>
        <ul class="main-nav-items">
          {{- range .Site.Menus.main -}}
            {{- if eq .Identifier "signup" -}}
            <li data-signed-out="true">
              <a class="signup-button button small{{ if $isHome }} main secondary{{ else }} primary{{ end }}" href="{{ .URL | relURL }}">{{ .Pre }}{{ .Name }}{{ .Post }}</a>
            </li>
            {{- else if eq .Identifier "userdashboard" -}}
              <li class="nav-item" data-signed-in="false">
                <a class="signup-button button small{{ if $isHome }} main secondary{{ else }} primary{{ end }}" href="{{ .URL | relURL }}">{{ .Pre }}{{ .Name }}{{ .Post }}</a>
              </li>
            {{- else -}}
            {{- $isMenuCurrent := $.IsMenuCurrent .Menu . -}}
            {{- $hasMenuCurrent := $.IsMenuCurrent .Menu . -}}
            <li{{ if eq .Identifier "login" }} data-signed-out="true"{{ end }}{{ if eq .Identifier "useraccount" }} data-signed-in="false" data-user{{ end }}>
              <a href="{{ .URL | relURL }}" class="nav-item{{ if or $isMenuCurrent $hasMenuCurrent }} active{{ end }}">{{ .Pre }}{{ .Name }}{{ .Post }}</a>
            </li>
            {{- end -}}
          {{- end -}}
        </ul>
        {{- if $isDocs -}}
          {{- partial "components/sidebar" . -}}
        {{- end -}}
      </div>
    </nav>
    <div class="mini-nav--toggle">
      {{- if $isPricing -}}
        <img class="toggle-open" src="{{ "/img/navtoggle-light-open.svg" | relURL }}" alt="Open nav">
      {{- else -}}
        <img class="toggle-open" src="{{ "img/navtoggle-open.svg" | relURL }}" alt="Open nav">
      {{- end -}}
      <img class="toggle-close" src="{{ "img/navtoggle-close.svg" | relURL }}" alt="Close nav">
    </div>
  </div>
</header>