<aside class="search-results" id="search">
  <div class="container">
    <section class="search-header">
      <div class="search-header--sticky">
        <div class="search-results--stats">
          <div id="stats"></div>
          <a href="https://algolia.com" target="_blank"><img src="{{ "img/logos/search-by-algolia.svg" | relURL }}" alt="Powered by Algolia" width="100" class="search-results--poweredby" /></a>
        </div>
        <div class="search-results--filters"></div>
      </div>
    </section>
    <section class="section section-search-results">
    </section>
  </div>
</aside>