{{- $currentPage := . -}}
{{- $sectionMenu := index $.Site.Menus .Section -}}
{{- $currentSection := (replace (index (findRE "([\\w]+)\\/\\z" (.CurrentSection.File.Dir) 1) 0) "/" "") -}}
{{- $currentSectionMenu := index $.Site.Menus $currentSection -}}
{{- $menu := cond (not (eq $currentSectionMenu "nil")) $currentSectionMenu $sectionMenu -}}
{{- with $menu -}}
<div class="docs-nav-items">
  {{- if eq $currentSection "changelog" -}}
    {{- /* changelog menu should just list all changelog items newest first */ -}}
    <h3>Changelog</h3>
    {{- $menuYear := "" -}}
    {{ range (where $.Site.RegularPages "Dir" $.Page.File.Dir) }}
    {{- if ne $menuYear (.Date.Format "2006") -}}
      {{- if ne $menuYear "" -}}
        </ul>
      {{- end -}}
      {{- $menuYear = .Date.Format "2006" -}}
      <h4>{{ $menuYear }}</h4>
      <ul>
    {{- end -}}
    <li><a href="{{ .RelPermalink }}"{{ if eq . $ }} class="active"{{ end }}>{{ .Date.Format "Jan 2" }}</a></li>
    {{ end }}
  {{- else -}}
    {{- range . -}}
    <h3>{{ .Pre }}{{ .Name }}{{ .Post }}</h3>
    <ul>
    {{- range .Children -}}
      <li>{{ .Pre }}<a href="{{ .URL | relURL }}"{{ if or ($.IsMenuCurrent .Menu .) ($.HasMenuCurrent .Menu .) }} class="active"{{ end }}>{{ .Name }}</a>{{ .Post }}</li>
      {{- if $.IsMenuCurrent .Menu . -}}
        {{- template "toc" $currentPage -}}
      {{- end -}}
    {{- end -}}
    </ul>
    {{- end -}}
  {{- end -}}
</div>
{{- end -}}
{{- define "toc" -}}
  {{- $page := . -}}
  {{/* ignore empty links with + */}}
  {{- $headers := findRE "<h[2-6].*?[id].*?>(.|\n])+?</h[2-6]>" .Content -}}
  {{/* At least one header to link to */}}
  {{- $has_headers := ge (len $headers) 1 -}}
  {{/* A post can explicitly disable Table of Contents with toc: false */}}
  {{- $show_toc := or (not (isset $.Params "toc")) (eq $.Params.toc true) -}}
  {{- if (and $show_toc $has_headers) -}}
    <ul class="table-of-contents">
    {{- range $headers -}}
      {{- $header := . -}}
      {{- range first 1 (findRE "<h[2]" $header 1) -}}
        {{- range findRE "[2]" . 1 -}}
          {{- $level := (int .) -}}
          {{- $anchorId := (replace (replace (replace ($header | htmlUnescape | plainify | urlize | safeURL) "." "-") "--" "-") "/" "-") -}}
          {{- $href := printf "%s%s%s" $page.Permalink "#" $anchorId | string -}}
            <li class="level-{{ $level }}">
              <a href="{{ $href }}">{{ $header | plainify | htmlUnescape | safeHTML }}</a>
            </li>
        {{- end -}}
      {{- end -}}
    {{- end -}}
    </ul>
  {{- end -}}
{{- end -}}
