<aside class="social-sharing">
  <h2 class="social-sharing--title">Share this article</h2>
  <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
    <a class="a2a_button_facebook"></a>
    <a class="a2a_button_twitter"></a>
    <a class="a2a_button_reddit"></a>
    <a class="a2a_button_hacker_news"></a>
  </div>
  <script>
  var a2a_config = a2a_config || {};
  a2a_config.linkname = "{{ .Params.headline | default .Title}}";
  a2a_config.linkurl = "https://forestry.io{{ .RelPermalink }}";
  </script>
  <script async src="https://static.addtoany.com/menu/page.js"></script>
</aside>
