<div class="starter-card">
    <div class="starter-card--image-container">
        <a href="{{ .starter.preview }}" target="_blank" class="starter-card--preview-link">{{ partial "svg" (dict "id" "eye" "class" "preview-link--icon" "width" "24" "height" "24") }}
            Preview</a>
        <img
            loading="lazy"
            src="{{ .ctx.Site.Params.cloudinary.baseurl }}/w_280,h_210,c_fill,f_auto,q_40,e_blur:200/{{ .ctx.Site.BaseURL }}/{{ .starter.image }}"
            data-src="{{ .ctx.Site.Params.cloudinary.baseurl }}/w_400,h_300,c_fill,f_auto/{{ .ctx.Site.BaseURL }}/{{ .starter.image }}"
            data-srcset="{{ .ctx.Site.Params.cloudinary.baseurl }}/w_400,h_300,c_fill,f_auto/{{ .ctx.Site.BaseURL }}/{{ .starter.image }} 1x,
            {{ .ctx.Site.Params.cloudinary.baseurl }}/w_800,h_600,c_fill,f_auto/{{ .ctx.Site.BaseURL }}/{{ .starter.image }} 2x"
            alt="{{ .starter.name }} - Preview Image" class="lazyload starter-card--image">
    </div>
    <div class="starter-card--info">
        <div class="starter-card--pills">
            {{ range .starter.versions }}
                <span class="pill ssg">{{ .name }}</span>
            {{ end }}
        </div>
        <div class="starter-card--title">{{ .starter.name }}
            {{ if .starter.textline }}
                <span class="starter-card--subtitle">{{ .starter.textline }}</span>
            {{ end }}
        </div>
        by {{ .starter.author }}
        <button class="starter-card--cta">{{ partial "svg" (dict "id" "arrow" "class" "cta--icon" "width" "18" "height" "18") }}</button>
    </div>
    <ul class="starter-card--menu">
        {{ range .starter.versions }}
          {{- $branch := .branch | default "master" }}
          {{ $engine := .engine | default .name -}}
          <li class="starter-card--menu-item"><a href="https://app.forestry.io/quick-start?repo={{  .repo }}&branch={{ $branch }}&engine={{ lower $engine }}&preview={{ safeURL $.ctx.Site.Params.cloudinary.baseurl }}/w_400,h_300,c_fill,f_jpg/{{ safeURL $.ctx.Site.BaseURL }}/{{ safeURL $.starter.image }}" class="starter-card--menu-link">{{ .name }}</a></li>
        {{ end }}
    </ul>
</div>
