<div class="starter-card">
    <div class="starter-card--image-container">
        <a href="{{ .preview }}" class="starter-card--preview-link">{{ partial "svg" (dict "id" "eye" "class" "preview-link--icon" "width" "24" "height" "24") }}
            Preview</a>
        <img src="{{ .thumb }}" alt="{{ .name }} - Preview Image" class="starter-card--image">
    </div>
    <div class="starter-card--info">
        <div class="starter-card--pills">
            {{ range .versions }}
                <span class="pill">{{ .name }}</span>
            {{ end }}
        </div>
        <div class="starter-card--title">{{ .name }}</div>
        <button class="starter-card--cta">{{ partial "svg" (dict "id" "arrow" "class" "cta--icon" "width" "18" "height" "18") }}</button>
    </div>
    <ul class="starter-card--menu">
        {{ range .versions }}
            <li class="starter-card--menu-item"><a href="{{ .link }}" class="starter-card--menu-link">{{ .name }}</a></li>
        {{ end }}
    </ul>
</div>
