{{- $tweets := cond (isset . "tweets") .tweets $.Site.Data.testimonials.tweets -}}
{{- $page := .pg | default . -}}
<section class="section-testimonials" onclick="void(0)">
  {{- range $index, $row := $tweets -}}
    {{- range $row -}}
      {{- template "row" (dict "pg" $page "index" $index "row" .) -}}
    {{- end -}}
  {{- end -}}
</section>
{{- define "row" -}}
<div class="testimonials-row row-{{ .index | add 1 }}">
  <div class="testimonials-row--items">
    <div class="testimonials-row--wrapper">
      {{- range .row -}}
        {{- template "tweet" (dict "pg" $.page "tweet" .) -}}
      {{- end -}}
    </div>
  </div>
  <div class="testimonials-row--items">
    <div class="testimonials-row--wrapper">
      {{- range .row -}}
        {{- template "tweet" (dict "pg" $.page "tweet" .) -}}
      {{- end -}}
    </div>
  </div>
</div>
{{- end -}}
{{- define "tweet" }}
  {{- with .tweet -}}
  <a href="{{ .RelPermalink }}" target="_blank" class="testimonial-card">
    <div class="meta">
      <div class="avatar">
        {{ partial "cloudinary/image" (dict "pg" $.page "image" .avatar "alt" (printf "%s%s" "Photo of " .name)) }}
      </div>
      <div class="user-info">
        <span class="name">{{ .name }}</span>
        <span class="username">{{ .username }}</span>
      </div>
      <div class="platform">
        <img src="{{ "/img/logos/twitter.svg" | relURL }}" alt="Twitter">
      </div>
    </div>
    <div class="content">
      <p>{{ .textline }}</p>
    </div>
  </a>
  {{- end -}}
{{- end -}}
