{{- define "main" -}}
<main class="careers__wrapper single-post">
  <section class="careers-section">
    <div class="container">
      <h1><strong>Your Career at Forestry</strong></h1>
      <div>
        <p class="big">At Forestry.io, we’re on a mission to help people build a better web. <a href="/about">We’re a growing company</a> with big dreams and ample opportunities for you to have an impact and grow with us.</p>
      </div>
    </div>
  </section>

  <section class="careers-section">
    <div class="container">
      <h2>Who We Are</h2>
      <p class="big">We’re a group of passionate, dedicated and kind people who love working together to build great things for the web.</p>
      <p>We thrive on autonomy and collaboration, and enjoy utilizing the diverse perspectives of our team members to solve hard problems. We’re founded and headquartered in <a href="https://www.google.com/maps/place/Prince+Edward+Island,+Canada/@46.6675804,-63.6757171,9z/data=!3m1!4b1!4m5!3m4!1s0x4b5e52ddd47f83c5:0xa968d6d5f4926686!8m2!3d46.510712!4d-63.4168136">Prince Edward Island, Canada</a> with nearly half our staff working remotely.</p>
      <a href="/job-openings" class="button primary" data-proofer-ignore="">Join Our Team</a>
    </div>
  </section>

  <section class="careers-section">
    <div class="container">
      <h2>Who You Are</h2>
      <p class="big">We take our time hiring, and we hire for the person, not simply for the role. We’re looking for people who are:</p>
      <div class="careers-columns">
      
        <div>
          <h3>Positive and Respectful</h3>
          <p>Someone who can stay calm & cool in difficult situations. Someone who can uplift their team even when things are tough. Someone who assumes the best of others and always treats others with respect.</p>
        </div>

        <div>
          <h3>Accountable Team Players</h3>
          <p>Someone who can put others first and measures success at the team level. Someone who is happy to be held accountable, and hold their teammates accountable. Someone who communicates freely, openly and honestly. Leaders who are servants.</p>
        </div>

        <div>
          <h3>Proactive and Driven</h3>
          <p>Someone who doesn’t wait for things to come to them, but takes initiative. Someone who proactively identifies problems and offers solutions. Someone who's driven to be and do their best.</p>
        </div>

        <div>
          <h3>Dedicated to Their Craft</h3>
          <p>Someone who likes what they do and strives to master their skills. Someone who is always learning and always growing.</p>
        </div>

        <div>
          <h3>Curious Problem Solvers</h3>
          <p>Someone who’s willing to wrestle with hard questions and doesn’t settle for shallow answers. Someone who thinks deeply and likes to solve tough problems.</p>
        </div>

        <div>
          <h3>Comfortable With Ambiguity</h3>
          <p>Something who's comfortable navigating uncharted territory. Someone who can explain the pros and cons of an approach, be decisive and move forward in the midst of uncertainty. Someone who seeks to bring clarity to ambiguity.</p>
        </div>

        <div>
          <h3>Impact Maximizers</h3>
          <p>Someone who has a bias toward action. Someone who can identify how to best move the needle and focus there. Someone who's eager to spend 20 minutes helping their teammate save 4 hours.</p>
        </div>

      </div>
    </div>
  </section>

  <section class="careers-section">
    <div class="container">
      <h2>How We Hire</h2>
      <div>
        <p class="big">Our hiring process involves multiple steps, the first being an introductory chat to gauge mutual interest and gain clarity into each other’s needs and expectations.</p>
        <p>If it feels like a good fit, we’ll schedule a “Life Story” interview. Our goal in this step is to learn how your professional life has developed, what you value, what motivates you, and how you’ve grown into the person you are today.</p>
        <p>After getting to know you better, we then hold a series of interviews with various team members with the goal of examining the depth and breadth of your skill set. We like to think about your skills and areas for potential growth both in the context of the role and in the broader context of our company as a whole. In the last step, we’ll have a diverse group of people review and discuss our applicants before making a decision.</p>
      </div>
    </div>
  </section>

  <section class="careers-section">
    <div class="container">
      <h2>Benefits to Enjoy</h2>
      <div class="careers-columns">
        <div>
          <h3>Remote friendly</h3>
          <p>We want you to do great work, and have a great life outside of work, so we’re advocates of remote-working. This allows us to hire great talent from anywhere, and allows you to live the kind of life you want, where you want (we also have an HQ in PEI, Canada).</p>
        </div>

        <div>
          <h3>Annual company onsite in PEI</h3>
          <p>Remote? We still want to meet you face-to-face. We’ll fly you to our HQ in Prince Edward Island for a week at some point during your first month with us. We also have a week-long company onsite in PEI during the summer each year.</p>
        </div>

        <div>
          <h3>Competitive salaries, based on location</h3>
          <p>We calculate our salaries based on job level and the region where you live, so we are able to provide competitive salaries regardless of where you’re working from.</p>
        </div>

        <div>
          <h3>Flexible work hours</h3>
          <p>We’re a distributed team, and we don’t have a set schedule that everyone abides by. People typically work during the common daylight hours in their timezone, but may shift a couple hours in one direction or another to overlap better with specific team members or meetings, depending on what they’re working on.</p>
        </div>

        <div>
          <h3>Work at a sustainable pace</h3>
          <p>We are a fast-paced startup, but that doesn’t mean you're going to work overtime all the time. We value rest & life outside of work. If you happen to be working a lot of overtime to meet a deadline, expect to take some extra time off shortly after.</p>
        </div>

        <div>
          <h3>Health plan</h3>
          <p>Our Canadian employees have a health plan with Blue Cross Blue Shield, and our non-Canadian employees have a health allowance.</p>
        </div>

        <div>
          <h3>Your workstation, your way</h3>
          <p>Want an ergonomic keyboard? You can have it. Dual monitors? Of course. Mac, Ubuntu, Windows? Use whatever you want, as long as you can do what you need to do.</p>
        </div>

        <div>
          <h3>Vacation & Personal Time</h3>
          <p>We have 3 weeks of discretionary vacation, and a 4th week off between Christmas and New Years when our office is closed. We also have 10 personal days for anything else unexpected that comes up.</p>
        </div>

        <div>
          <h3>Floating Holidays</h3>
          <p>Half of our holidays are shared. The other half are floating, so you can take local holidays in your country of residence.</p>
        </div>
                
      </div>
    </div>
  </section>

  <section class="careers-section center">
    <h2>Interested?</h2>
    <p>
      <a href="/job-openings" class="button primary" data-proofer-ignore="">View Our Current Job Openings</a>
    </p>
  </section>

</main>
{{- end -}}
