{{- define "main" -}}
<main class="careers__wrapper single-post">
  <section class="careers-section">
    <div class="container">
      <h1><strong>Your Career at Forestry</strong></h1>
      <div>
        <p class="big">At Forestry.io, we’re on a mission to help people build a better web. <a href="/about">We’re a growing company</a> with big dreams and ample opportunities for you to have an impact and grow with us.</p>
      </div>
      <div class="careers-button-wrapper">
        <a href="https://forestry.bamboohr.com/jobs/" target=”_blank” class="button primary" data-proofer-ignore="">View Current Job Openings</a>
      </div>
    </div>
  </section>

  <section class="careers-section">
    <div class="container">
      <h2>Who We Are</h2>
      <p class="big">At Forestry, we are equally focused on developing amazing products as we are on continuously building a culture in which our team thrives and has impact.  As a group of passionate self-starters, we love experimenting with that cutting-edge technology and the possibilities it provides. We enjoy tackling complex problems through diverse perspectives, continual collaboration, and deep technical knowledge. Through curiosity and continuous learning, we not only know what is coming next, but are the ones developing it.</p>
      <p class="big"> We are a talented, autonomous, remote-first distributed team who accomplishes big things while maintaining a work/life balance that actually works. We were founded in <a href="https://www.google.com/maps/place/Prince+Edward+Island,+Canada/@46.6675804,-63.6757171,9z/data=!3m1!4b1!4m5!3m4!1s0x4b5e52ddd47f83c5:0xa968d6d5f4926686!8m2!3d46.510712!4d-63.4168136">Prince Edward Island, Canada</a> and now have team members in Canada and the United States.</p>
    </div>
  </section>

  <section class="careers-section">
    <div class="container">
      <h2>Who You Are</h2>
      <p class="big">At Forestry, we hire for culture and skill adds. We are a young and growing company and therefore need to be extremely intentional about who and how we hire. Diverse team members with a mixture of specialist and generalist skill sets not only serve the company well, but will help us serve our customers even better. </p>
      <p class="big">We aim to find the best person for every role at Forestry, while also building out a culture that is representative of our potential customers. Each person brings a different background, experiences, and perspectives to the company creating a rich environment for discussions and innovation. </p>
      <div class="careers-columns">
      
        <div>
          <h3>Positive and Respectful</h3>
          <p>You assume the best of others. You don’t shy away from candid feedback, but always treat everyone with respect. You can stay calm and cool in difficult situations and uplift your team when things are tough. You always act with integrity. </p>
        </div>

        <div>
          <h3>Accountable Team Players</h3>
          <p>You are able to work autonomously to keep projects moving forward. You are happy to be held accountable for your responsibilities, but you measure success at the team level. You understand how important it is to communicate freely, openly, and honestly within and across teams. You are eager to spend 20 minutes helping a teammate save 4 hours.</p>
        </div>

        <div>
          <h3>Proactive and Driven</h3>
          <p>You have a bias toward action and know how to maximize your impact. You proactively take initiative to identify problems and offer solutions. You do not wait for projects or tasks to come to you, but take on responsibilities that you have recognized as important. You can identify how to move the needle and focus there.</p>
        </div>

        <div>
          <h3>Dedicated to Your Craft</h3>
          <p>You can be a specialist or a generalist, but you truly are passionate about your work. You seek knowledge that allows you to master your skills and welcome feedback in order to grow professionally. You are continuously learning. </p>
        </div>

        <div>
          <h3>Curious Problem Solvers</h3>
          <p>You welcome tackling hard questions and don't settle for shallow answers. You think deeply and like to solve tough problems. You experiment with theories and innovative solutions as you seek to understand the "why". Iteration and testing are second nature to you.</p>
        </div>

        <div>
          <h3>Clarify Ambiguity</h3>
          <p>You are agile and flexible within a changing startup environment. You enjoy navigating uncharted territory. You can see the pros and cons of various approaches and be decisive in order to move forward in the midst of uncertainty. </p>
        </div>

      </div>
    </div>
  </section>

  <section class="careers-section">
    <div class="container">
      <h2>Benefits to Enjoy</h2>
      <div class="careers-columns">
        <div>
          <h3>Remote first</h3>
          <p>We want you to do great work, and have a great life outside of work, so we’re advocates of remote-working. This allows us to hire great talent from anywhere, and allows you to live the kind of life you want, where you want.</p>
        </div>

        <div>
          <h3>Remote employee allowance</h3>
          <p>We want to ensure our remote workforce has a great setup for their workspace, so we have a $2,500 USD / $3,300 CAD annual allowance for all employees. </p>
        </div>
        
        <div>
          <h3>Flexible work hours</h3>
          <p>As a fully distributed team, spanning 5 time zones, schedules are tricky. So, we do not have a set schedule for “working hours” that everyone needs to abide by, as long as we always keep in mind that communication and collaboration are key to our success.</p>
        </div> 
        
        <div>
          <h3>Sustainable pace</h3>
          <p>We're a startup where things move and change fast, but that doesn’t mean overtime is expected. We value rest & life outside of work. If you happen to be working a lot of overtime to meet a deadline, expect to take some extra time off shortly after.</p>
        </div>
        
        <div>
          <h3>Health plan</h3>
          <p>Medical, dental, vision, and life insurance are available to full-time employees through Aetna & MetLife in the US and Medavie Blue Cross in Canada.</p>
        </div>

        <div>
          <h3>Competitive salaries, based on location</h3>
          <p>We calculate our salaries based on job level and the cost of living & market where you live, so we are able to provide competitive salaries regardless of where you’re working from.</p>
        </div>

        <div>
          <h3>Take What You Need Time Off</h3>
          <p>We do not believe that working 80 hours a week is a virtue. We do not encourage burn out. We want happy, creative, driven team members who are operating at the top of their game because they are relaxed and have the autonomy to work in the ways that work best for them. We have a take what you need paid time off policy that includes vacation, personal, sick, and wellness days.</p>
        </div>

        <div>
          <h3>Leave for New Parents</h3>
          <p>We offer Maternity and Parental leave under this umbrella. Combined paid and unpaid leave ranges from 16 weeks to 77 weeks.</p>
        </div>
        
        <div>
          <h3>Continuous Learning</h3>
          <p>At Forestry we believe that our team is our most valuable asset and we want to ensure that you have the opportunity and the resources to keep expanding and deepening your skill sets through continuous learning and professional development. Each team member receives a yearly stipend to spend on professional development. </p>
        </div>

      </div>
    </div>
  </section>

  <section class="careers-section center">
    <h2>Interested?</h2>
    <p>
      <a href="https://forestry.bamboohr.com/jobs/" target=”_blank” class="button primary" data-proofer-ignore="">View Current Job Openings</a>
    </p>
  </section>

</main>
{{- end -}}
